<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.uclbrt.dao.UserLoginMapper">
   	 
	<select id="findByName" resultMap="userResultMap"
		parameterType="string">
		select id,user_name,password,created_time,role_id 
		from `tb_user_login` user_login 
		where user_name= #{userName};
	</select>
	<insert id="save" parameterType="org.uclbrt.entity.UserLogin"  useGeneratedKeys="true" keyProperty="id">
		insert into `tb_user_login`(user_name,password,created_time,role_id) values
		(#{userName},#{password},#{createdTime},#{roleId});
	</insert>
	<resultMap id="userResultMap" type="org.uclbrt.entity.UserLogin">
	  			<id property="id" column="id" />  
	            <result property="userName" column="user_name" />  
	            <result property="password" column="password" />  
	            <result property="createdTime" column="created_time" />  
	            <result property="roleId" column="role_id" />
	 </resultMap>  
</mapper>